<!DOCTYPE html>
{% load static %}
{%include 'navbar.html' %}

<html>
    <head>
           
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles\main.css' %}"> 
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Densys.me</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <h1>Guys, refer to video tutorials</h1>
        <div class="slideshow">
            <div class="fade_slides">
                <div class="caption">This is the first page</div>
                <img src="{%static 'slideshow_1.jpg' %}">
            </div>
            <div class="fade_slides">
                <div class="caption">This is the second page</div>
                <img src="{%static 'slideshow_2.jpg' %}">
            </div>
            <div class="fade_slides">
                <div class="caption">This is the third page</div>
                <img src="{%static 'slideshow_3.jpg' %}">
            </div>
            <div class="fade_slides">
                <div class="caption">This is the fourth page</div>
                <img src="{%static 'slideshow_4.jpg' %}">
            </div>
        </div>
        {% block content %}

        {% endblock %}
        
        
    </body>
</html>