<!DOCTYPE html>
<html lang="en">
  {% load static %} 
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sign In</title>
      <link href="{% static 'styles/login.css' %}" rel="stylesheet">
    </head>
    <body>
		<h1>Sign in as</h1>
      <button id ="patient" onclick="location.href='http://127.0.0.1:8000/loginp/'">Patient</button>
      <button id ="doctor" onclick="location.href='http://127.0.0.1:8000/logind/'">Doctor</button>
    </body>
</html>
