<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles\main.css' %}">
    </head>
    <body>
      <!--! <div id="logo" >
          <img class="logo" src="{%static 'logo.png'%}"></img>
      </div>
    -->
          <header id="header">
            <img class="logo" src="{%static 'logo.png'%}"></img>
                <nav>
                    <ul class = "nav_links">
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Search should be here</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Appointment</a></li>
                        <li><a href="#">Log in</a></li>
                      </ul>
                 </nav>
        </header>
    </body>


</html>