<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles\main.css' %}"> 
    </head>
    <body>
        <header id="header">
            <div id="logo">
                <img class="logo" src="{%static 'logo.png'%}"></img>
            </div>    
                <nav>
                    
                    <a>Services</a>
                    <a>Search should be here</a>
                    <a>About us</a>
                    <a>Contacts</a>
                    <a>Appointment</a>
                    <a>Log in</a>
                 </nav>
        </header>
    </body>


</html>