
<h3> Patient Registration </h3>
<form class="login-form" method="POST">
{% csrf_token %}
<div class="row">
<div class="col-md-12">
{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
<strong>{{ field|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-6">
<div class="form-group position-relative">
<label>Government ID (IIN) <span class="text-danger">*</span></label>
{{form.gov_id}}
</div>
{% if form.gov_id.errors %}
{% for error in form.gov_id.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-6">
<div class="form-group position-relative">
<label>First name <span class="text-danger">*</span></label>
{{form.first_name}}
</div>
{% if form.first_name.errors %}
{% for error in form.first_name.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-6">
<div class="form-group position-relative">
<label>Middle name <span class="text-danger">*</span></label>
{{form.first_name}}
</div>
{% if form.middle_name.errors %}
{% for error in form.middle_name.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-6">
<div class="form-group position-relative">
<label>Last name <span class="text-danger">*</span></label>
{{form.last_name}}
</div>
{% if form.last_name.errors %}
{% for error in form.last_name.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>
<div class="col-md-12">
<div class="form-group position-relative">
<label>Your Email <span class="text-danger">*</span></label>
{{form.email}}
</div>
{% if form.email.errors %}
{% for error in form.email.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-6">
<div class="form-group position-relative">
<label>Date of birth <span class="text-danger">*</span></label>
{{form.date_of_birth}}
</div>
{% if form.date_of_birth.errors %}
{% for error in form.date_of_birth.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-12">
<div class="form-group position-relative">
<label>Username <span class="text-danger">*</span></label>
{{form.username}}
</div>
{% if form.username.errors %}
{% for error in form.username.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-6">
<div class="form-group position-relative">
<label> Blood Group <span class="text-danger">*</span></label>
{{form.blood_group}}
</div>
{% if form.blood_group.errors %}
{% for error in form.blood_group.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-12">
<div class="form-group position-relative">
<label> Address <span class="text-danger">*</span></label>
{{form.address}}
</div>
{% if form.address.errors %}
{% for error in form.address.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-6">
<div class="form-group position-relative">
<label>Marital status <span class="text-danger">*</span></label>
{{form.marital_status}}
</div>
{% if form.marital_status.errors %}
{% for error in form.marital_status.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-6">
<div class="form-group position-relative">
<label>Registration Date <span class="text-danger">*</span></label>
{{form.reg_date}}
</div>
{% if form.reg_date.errors %}
{% for error in form.reg_date.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-12">
<div class="form-group position-relative">
<label>Password <span class="text-danger">*</span></label>
{{form.password1}}
</div>
{% if form.password1.errors %}
{% for error in form.password1.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>
<div class="col-md-12">
<div class="form-group position-relative">
<label>Confirm Password <span class="text-danger">*</span></label>
{{form.password2}}
</div>
{% if form.password2.errors %}
{% for error in form.password2.errors %}
<div class="alert alert-danger">
<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
</div>

<div class="col-md-12">
<button class="btn btn-primary w-100" type="submit" >Register</button>

</div>
</form>
