*{
  box-sizing: border-box;
  margin: 0
  padding:0
  background-color: black
}
  #header{
    background-color: black
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 10px;
  }
  nav a{
    display: inline-block;
    color: black;
    border-radius: 5%;

    background: white;
    margin-left: 5%;
  }

  .nav_links li{
    display: inline-block;
    padding: 0px 20px
  }
