.nav_body{
  background: white;
}
.logo{
  height: 50px;
}
#header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px;
}
nav a{
  display: inline-block;
  color: rgb(8, 86, 8);
  border-radius: 5%;
  height:22%;
  background: aquamarine;
  margin-left: 5%;
}
nav{
  width: 69%;
  display: inline-block;
}